@charset "UTF-8";

/* reset.css */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

html {
    width: 100%;
    -webkit-text-size-adjust: none;
}

body {
    background-color: #E5E5E5;
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* reset.css */

.top {
    z-index: 1;
    width: 100%;
    height: 60px;
    background: white;
    position: fixed;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.top-icon {
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.mid {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 60px);
    /* border: 1px solid red; */
}

.mid-container {
    width: 100%;
    height: 100%;
    padding-top: 60px;
    /* border: 1px solid red; */
}

.mid-section1 {
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 70px;
}

.mid-section2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #F5A623;
}

.section2-text {
    padding-left: 8%;
}

.section2-icon {
    width: 30%;
    float: right;
    display: flex;
    position: relative;
    top: 12px;
    /* border: 1px solid red; */
}

.icon {
    text-align: center;
}

.line {
    border: 1px solid #000;
}

.mid-section3 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 8%;
}

.mid-section4 {
    width: 100%;
    text-align: center;
    padding: 0 30px;
    padding-top: 20px;
}

.text-box {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.pencil-icon {
    /* visibility: hidden; */
    /* display: none; */
}

.bot {
    width: 100%;
    position: fixed;
    bottom: 20px;
    padding: 0 30px;
}

.start {
    height: 50px;
    font-size: 25px;
    border-radius: 100px;
    background: #F5A623;
}